[Unit]
Description=Run update-adlists.sh 4 times daily

[Timer]
OnCalendar=*-*-* 08:00
OnCalendar=*-*-* 11:00
OnCalendar=*-*-* 17:00
OnCalendar=*-*-* 23:00
Persistent=true

[Install]
WantedBy=timers.target
