[Desktop Entry]
Version=1.0
Name=LinkedIn
Comment=LinkedIn
Exec=omarchy-launch-webapp https://www.linkedin.com
Terminal=false
Type=Application
Icon=/home/abuturab/.local/share/applications/icons/LinkedIn.png
StartupNotify=true
